
<p>
  <b>
    <title> CLASSIFIQUE AS QUATRO CATEGORIAS NOVAMENTE </title>
  </b>
</p>
<p>Lembre-se de ir tão rápido quanto você puder enquanto procura fazer a menor quantidade de erros possível.</p>
<br>
<br>
<div id="defaultStartQuestions" style="text-align:center">Pressione <b>BARRA DE ESPAÇO</b> para iniciar.</div>
<div id="mobileStartQuestions"><input type="submit" value="Iniciar"  onclick='startIatQuestion();' class='btn btn-default' style="width: 100%;height: 46px;"></div>
