<div class="container">
	<div class="form-group">
		<label for="subID">ID: </label>
		<input type="text" id="subID" name="subID" class="form-control disabled" disabled="disabled"/>
	</div>
	<div class="form-group">
		<label for="subID">Nome: </label>
		<input id="nome" type="text" class="form-control userfInfo" data-columns="nome"/>
	</div>
	<div class="form-group">
		<label for="subID">Sexo: </label>
		<select class="form-control userInfo" data-column="sexo">
			<option value="M">Masculino</option>
	  		<option value="F">Feminino</option>
		</select>
	</div>
	<div class="form-group">
		<label for="subID">Idade: </label>
		<select class="form-control userInfo" data-column="idade">
			<option value="Até 18 anos">Até 18 anos</option>
			<option value="19-25 anos">19-25 anos</option>
			<option value="26-35 anos">26-35 anos</option>
			<option value="36-45 anos">36-45 anos</option>
			<option value="46-55 anos">46-55 anos</option>
			<option value="56-65 anos">56-65 anos</option>
			<option value="Mais de 66 anos">Mais de 66 anos</option>
		</select>
	</div>
	<div class="form-group">
		<label for="subID">Interesse por política: </label>
		<select class="form-control userInfo" data-column="int_polit">
			<option value="Muito interessado">Muito interessado</option>
			<option value="Um pouco interessado">Um pouco interessado</option>
			<option value="Nada interessado ">Nada interessado</option>
		</select>
	</div>
	<div class="form-group">
		<label for="subID">Qual o partido político que você prefere? </label>
		<select class="form-control userInfo" data-column="partido">
			<option value="Nenhum partido">Nenhum</option>
			<option value="DEM">DEM</option>
			<option value="PCdoB">PCdoB</option>
			<option value="PDT">PDT</option>
			<option value="PMDB">PMDB</option>
			<option value="PP">PP</option>
			<option value="PPS">PPS</option>
			<option value="PSDB">PSDB</option>
			<option value="PSOL">PSOL</option>
			<option value="PSTU">PSTU</option>
			<option value="PT">PT</option>
			<option value="PV">PV</option>
			<option value="REDE">REDE</option>
			<option value="Outros">outros</option>
		</select>
	</div>
	<div class="form-group">
		<label for="subID">O quanto você gosta do PSDB de 0 a 10: </label>
		<select class="form-control userInfo" data-column="psdb">
			<option value="0">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
		</select>
	</div>
		<div class="form-group">
		<label for="subID">O quanto você gosta do PT de 0 a 10: </label>
		<select class="form-control userInfo" data-column="pt">
			<option value="0">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
		</select>
	</div>
	<br><br>
	<div> Por Favor, preencha os dados de identificação. </div>
	<br>
	<input type="submit" value="Iniciar Experimento" onclick='loadInstructions("one");' class="btn btn-default">
</div>
