<div class="container">
    <p>Para continuar o experimento, será necessário o compartilhamento da web-cam.</p>
    <p>Será solicitado sua autorização para compartilhar a web-cam.</p>
    <input type="submit" value="Continue" onclick="loadInstructions('tree');" class='btn btn-default'>
</div>
