<div class="container">
    <video id="webcamplayer" controls muted></video>
    <p>É importante que sua face esteja centralizada durante o experimento.</p>
    <p>Centralize sua face no quadro acima antes de iniciar o experimento.</p>
    <input type="submit" value="Continue" onclick="loadInstructions('start');" class='btn btn-default'>
</div>
