.navbar-brand img{
	height: 32px !important;
}


#player2{
	float: right;
}

#experimenter{
	margin-top: -20px;
}

.btn-add-input{
	margin-bottom: 10px !important;
}
.panel-opcao{
	margin-top: 10px !important;
}
.panel-form{
	background: #EFEEEE !important;
}
